.navbar {
    background-color: grey;
    overflow: hidden;
  }
  
  .navbar a {
    float: left;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 14px;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background-color: white;
    color: grey;
  }

  h1 {
    text-align: center;
    justify-content: center;
    display: flex;
  }

  footer {
    text-align: center;
    padding: 5px;
    background-color: grey;
    color: white;
  }