<table class="table table-striped-columns">
    <thead>
      <tr>
        <th>ID</th>
        <th>Titre</th>
        <th>Année</th>
        <th>Type</th>
        <th>Synopsis</th>
        <th>Réalisateur</th>
        <th>Date de création</th>
        <th>Date de mise à jour</th>
        <th>Date de suppression</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Film 1</td>
        <td>2020</td>
        <td>Comédie</td>
        <td>Synopsis 1</td>
        <td>Réalisateur 1</td>
        <td>2020-01-01/td>
        <td>2020-02-02</td>
        <td>2020-03-03</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Film 2</td>
        <td>2021</td>
        <td>Drame</td>
        <td>Synopsis 2</td>
        <td>Réalisateur 2</td>
        <td>2021-01-01</td>
        <td>2021-02-02</td>
        <td>2021-03-03</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Film 3</td>
        <td>2022</td>
        <td>Action</td>
        <td>Synopsis 3</td>
        <td>Réalisateur 3</td>
        <td>2022-01-01</td>
        <td>2022-01-02</td>
        <td>2022-01-03</td>
      </tr>
    </tbody>
  </table>
  